{% extends 'base.html' %}
{% load static %}



{% block content %}
    <link href="{% static 'css/comment_list.css' %}" rel="stylesheet" media="screen">

    <div class="discuss-topnav">
        <a href="{% url 'list_posts' post.subject.id %}">< Back to {{post.subject.name}} forum</a>
    </div>

    {% if not user.is_authenticated %}
    <div>
        <em>
        You need to be logged in to post or comment.  Click <a href="{% url 'login' %}">here to login</a> or <a href="#">create an account</a>.
        </em>
    </div>
    <br/>
    {% endif %}

    {% include "discussions/elements/post_view_controls.html" %}

    {% if comments %}
        <ul class="no-bullets">
        {% for comment in comments %}
            {% if comment.rel_depth > 0 %} 
                {% for i in comment.depth_counter %}
                <ul class="no-bullets"> 
                {% endfor %}
            {% endif %}
            {% if comment.rel_depth < 0 %}
                {% for i in comment.depth_counter %}
                </ul> 
                {% endfor %}
            {% endif %}
            <li>
                {% include "discussions/elements/comment_view_controls.html" %}
            </li>
            
        {% endfor %}
        </ul>
    {% else %}
        Looks like there's no comments here yet.  
        <a href="{% url 'new_top' post.id %}">Why not post the first?</a>
    {% endif %}

{% endblock %}