{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="discuss-topnav">
        <small>
            <a href="{% url 'discussions:list_comments' parent.post.id %}">
                < Back to thread
            </a>
        </small>
    </div>

    <div class="jumbotron top-post">
        <h1>
            You're responding to:
        </h1>

        <div>
            <span>  
                <strong>
                {% if parent.author %} 
                    {{parent.author}} 
                {% else %}
                    Anonymous 
                {% endif %}
                </strong>
                at {{parent.created_date}}
            </span>
        </div>
        <div>
            {{parent.body}}
        </div>
    </div>
     
    <form action="{% url 'discussions:new_child' parent.id %}" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <br/>
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}