.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.discuss-topnav {
    margin-bottom: 20px;
}

.discuss-regmargin {
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment-leftbox {
    display: inline-block;
    margin-right: 20px;
}

.comment-metabox {
    color: #666;
}

.comment-votecontrol {
    text-align: center;
    color: #666;
    cursor: pointer;
}

.comment-rightbox {
    display: inline-block;
}

.active-link {
    font-weight: bold;
}

.active-link-blue {
    font-weight: bold;
    color: #447e9b;
    text-decoration: underline;
}

.submit-button, .default-button {
    background: #417690 !important;
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 4px !important;
    color: #fff !important; 
    cursor: pointer !important;
}

.success-button {
    background: #5cb85c !important;
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 4px !important;
    color: #fff !important; 
    cursor: pointer !important;
}

.delete-button {
    background: #ba2121 !important;
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 4px !important;
    color: #fff !important; 
    cursor: pointer !important; 
}

.vertical-alignment-helper {
    display: table !important;
    height: 100% !important;
    width: 40% !important;
    pointer-events: none !important;
    margin: 0 auto !important;

    /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell !important;
    vertical-align: middle !important;
    pointer-events: none !important;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit !important;
    height: inherit !important;
    /* To center horizontally */
    pointer-events: all !important;
}
