<!-- This element expects a list of dictionaries named comments in context-->

<div class="comment-wrapper">
    {% if user.is_authenticated %}
    <!-- Only registered users can upvote/downvote -->
    <div class="comment-leftbox">
        <div class="comment-votecontrol
                   {% if comment.existing_vote_val == 1 %}
                       highlighted
                   {% endif%}"
             id="comment-upvote-{{comment.comment.id}}"
             onclick="cast_vote({{comment.comment.id}}, 1, 'comment')">
            &#x25B4;<i class="fa fa-arrow-circle-o-up"></i>
        </div>
        <div class="comment-votecontrol"
             id="comment-novote-{{comment.comment.id}}"
             onclick="cast_vote({{comment.comment.id}}, 0, 'comment')">
            &#x2715;
        </div>
        <div class="comment-votecontrol
                   {% if comment.existing_vote_val == -1 %}
                       highlighted
                   {% endif%}"
             id="comment-downvote-{{comment.comment.id}}"
             onclick="cast_vote({{comment.comment.id}}, -1, 'comment')">
            &#x25BE;<i class="fa fa-arrow-circle-o-down"></i>
        </div>
    </div>
    {% endif %}

    <div class="comment-rightbox">
        <div class="comment-metabox">
            <span>
                <strong>
                {% if comment.comment.author %}
                    {{comment.comment.author}}
                {% else %}
                    Anonymous
                {% endif %}
                </strong>
                at {{comment.comment.created_date}} (Score:
                <span {% if comment.existing_vote_val == 1 or comment.existing_vote_val == -1 %}
                       class="highlighted"
                      {% endif%}
                      id="comment-score-{{comment.comment.id}}">
                    {{comment.comment.score}}</span>)
            </span>
        </div>
        
        <div>
            <p>
                {{comment.comment.body}}
            </p>
        </div>

        <div>
            <small>
            {% if user.is_authenticated%}
                <a href="#">Report</a>
                |
                <a href="{% url 'discussions:new_child' comment.comment.id %}">Reply</a>
            {% else %}
                <a href="{% url 'login' %}">Log in to reply</a>
            {% endif %}
            </small>
        </div>

    </div>
</div>
