<!-- This element expects a Comment object named post in context -->

<div class="discuss-regmargin">
    <div class="comment-leftbox">
        <div class="comment-votecontrol">&#x25B4;<i class="fa fa-arrow-circle-o-up"></i></div>
        <div class="comment-votecontrol">&#x2715;</div>
        <div class="comment-votecontrol">&#x25BE;<i class="fa fa-arrow-circle-o-down"></i></div>
    </div>

    <div class="comment-rightbox">
        <div class="comment-metabox">
            <span>  
                <strong>
                {% if comment.comment.author %} 
                    {{comment.comment.author}} 
                {% else %}
                    Anonymous 
                {% endif %}
                </strong>
                at {{comment.comment.created_date}}
            </span>
        </div>
        <div>
            {{comment.comment.body}}
        </div>
            
        {% if user.is_authenticated%}
        <div>
            <a href="#">Report</a>
            |
            <a href="{% url 'discussions:new_child' comment.comment.id %}">Reply</a>
        </div>
        {% else %}
        <div>
            <a href="{% url 'login' %}">Log in to reply</a>
        </div>
        {% endif %}
    </div>
</div>
