<!-- This element expects a Post object named post in context -->

<div class="comment-wrapper">
    <h3>{{post.title}}</h3>
    <div>
        {{post.body}}
    </div>
    <div class="comment-metabox">
        <span>
            <small>
                Posted by
                <strong>
                {% if post.author %}
                    {{post.author}}
                {% else %}
                    Anonymous
                {% endif %}
                </strong>
                at {{post.created_date}} (Score:{{post.score}}</span>)
            </small>
        </span>
    </div>
</div>
