<!-- This element expects a list of dictionaries named posts in context-->
{% load gravatar %}

<div class="comment-wrapper">
    {% if user.is_authenticated %}
    <!-- Only registered users can upvote/downvote -->
    <div class="comment-leftbox">
        <div class="comment-votecontrol
                   {% if post.existing_vote_val == 1 %}
                       highlighted
                   {% endif%}"
             id="post-upvote-{{post.post.id}}"
             onclick="cast_vote({{post.post.id}}, 1, 'post')">
            &#x25B4;
        </div>
        <div class="comment-votecontrol"
             id="post-novote-{{post.post.id}}"
             onclick="cast_vote({{post.post.id}}, 0, 'post')">
            &#x2715;
        </div>
        <div class="comment-votecontrol
                   {% if post.existing_vote_val == -1 %}
                       highlighted
                   {% endif%}"
             id="post-downvote-{{post.post.id}}"
             onclick="cast_vote({{post.post.id}}, -1, 'post')">
            &#x25BE;
        </div>
    </div>
    {% endif %}
    <div class="post-midbox">
      <img src="{{post.post.author.email|gravatar_url:150}}" class="gravatar-med">
    </div>

    <div class="post-rightbox">
        <div>
            <h2 class="post-title">
              <a href="{% url 'discussions:list_comments' post.post.id %}">
                {{post.post.title}}
              </a>
            </h2>
        </div>
        <div class="comment-metabox">
          <span>
              <small>
                Posted by
              <strong>
              {% if post.post.author %}
                  {{post.post.author}}
              {% else %}
                  Anonymous
              {% endif %}
              </strong>
              at {{post.post.created_date}} (Score:
              <span {% if post.existing_vote_val == 1 or post.existing_vote_val == -1 %}
                     class="highlighted"
                    {% endif%}
                    id="post-score-{{post.post.id}}">{{post.post.score}}</span>)
          </span>
          </small>
        </div>
        <div>
            <small>
                <a href="{% url 'discussions:list_comments' post.post.id %}">{{post.comment_cnt}} comments</a>
            </small>
        </div>
    </div>
</div>
