{% extends "admin/base.html" %}
{% block title %}{%firstof config.company default_config.company%}{% endblock %}

{% block branding %}
<style>
#header {
    background:{% firstof config.primary_color default_config.primary_color %};
    color:{% firstof config.footer_text_color default_config.footer_text_color %};
}
#header a:link, #header a:visited {color:{% firstof config.secondary_color default_config.secondary_color %};}
#reg-button {background:{% firstof config.secondary_color default_config.secondary_color %};}
  div a strong {color:{% firstof config.secondary_color default_config.secondary_color %};}
 #login-button { background:{% firstof config.secondary_color default_config.secondary_color %}; }
</style>
<h1 id="site-name">
    <a href="{% url 'schedules:index' %}">{%firstof config.company default_config.company%} Register</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}