{% extends 'base.html' %}

{% block content %}

    {% load tz%}

    <div class="discuss-topnav">
        <a href="{% url 'discussion_index' %}">< Back to forum directory</a>
    </div>

    <div>
        <h3>{{subject.name}}</h3>
        <h4><a href="{% url 'new_post' subject.id %}">*** NEW POST ***</a></h4>
    </div>

    {% for post in posts %}
        <br/>
            <a href="{% url 'list_comments' post.id %}">
            {% if post.title %}
                {{post.title}}  
            {% else %} 
                No title 
            {% endif %}
            ({{post.created_date|localtime}})
        </a>
        <br/>
    {% endfor %}

{% endblock %}