 {% extends 'base.html' %} {% block content %}
  {% load gravatar %}{% load group_checker %}{% load date_checker %} {% if user.is_authenticated %} {% load static %}
<div class="container">
    <link href="{% static '/discussions/css/discussions.css' %}" rel="stylesheet">
    <h1 class="gravatar-header">
        <div>
            <span>
                <img src="{{user.email|gravatar_url:150}}" class="gravatar-med">
            </span>
            <span id="gravatar-span">
            Hello
            {%if user.first_name%}
                {{user.first_name}}
            {%else%}
                {{user.username}}
            {%endif%}
            </span>
        </div>
    </h1>
    <div id="content-main" style="">
        <div class="row" style="">
            <!-- Row 1 Start -->
            <div class="col-md-12">
                {% if is_student and registrations %}
                <h1><strong>My registered Sections</strong></h1> {% elif is_instructor and registrations %}
                <h1><strong>My Teaching Sections</strong></h1> {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" id="session-container">
                <!-- Col content -->
                {% if request.user.is_authenticated and user|has_group:"Students" or user|has_group:"Instructors"  %}
                <!-- Student start -->
                {% if registrations %} {% for reg in registrations %}
                <div class="card">
                    <div class="card-header">
                        <h1><strong>{{reg.subject.name}}</strong></h1> <strong id="time">{{ reg.pk | get_time_from_now }}</strong></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <ul>
                                    <li><strong>Location:</strong> {{reg.location}}</li>
                                    <li><strong>Instructor:</strong> {{reg.instructor}}</li>
                                    <li><strong>Date:</strong> {{ reg.pk|get_day_of_week }}</li>
                                    {% if request.user|has_group:"Instructors" %}
                                    <li><strong>Capacity:</strong>{{reg.registered_students}}/{{reg.max_capacity}}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <ul id="info-list">
                                    <li id="top-element">
                                        <h3>Details:</h3></li>
                                    {% if reg.subject.description|length < 500 %} 
                                    <li>{{reg.subject.description}}</li>
                                        {% else %}
                                        <li>{{reg.subject.description|slice:"0:500"}}...</li>
                                        {% endif %}
                                </ul>
                            </div>
                        </div>
                        <br>
                        <a class="btn btn-primary button" id="detail-button" href="{% url 'schedules:session' reg.id %}" role="button"><Span>View Details</Span></a>
                        {% if request.user|has_group:"Instructors" %}
                        <a class="btn btn-primary button" id="detail-button" style="margin-right:1em;" href="{% url 'schedules:session_setudents' reg.id %}" role="button"><Span>View Students</Span></a>
                        {% endif %}
                    </div>
                </div>
                <br> {% endfor %} {% else %}
                <!-- No sessions-->
                <div class="jumbotron">
                    <h1 class="display-4">{%firstof config.welcome_title default_config.welcome_title%}</h1>
                    <p class="lead">{%firstof config.slogan default_config.slogan%}</p>
                    <!-- <hr class="my-4">-->
                    <p class="lead">{%firstof config.welcome_body default_config.welcome_body%}</p>
                    <br>
                    <a class="btn btn-primary button" style="float:none;" href="{% url 'schedules:subjects' 'all' %}" role="button"><Span>Let's Get Started!</Span></a>
                </div>
                {% endif %} 
                <br> 
                
                 {% else %}
               <div class="jumbotron">
                    <h1 class="display-4">Welcome Admin</h1>
                    <p class="lead">From this view you can manage the data tables and users as well as their groups</p>
                    <!-- <hr class="my-4">-->
                    <p class="lead">---</p>
                    <br>
                    <a class="btn btn-primary button" style="float:none;" href="{% url 'admin:login' %}" role="button"><Span>Go to Admin Site</Span></a>
                </div>
                {% endif %}
                <br>
            </div>
            <!--end teacher -->
            <div class="col-md-4" style="">
                <div class="module filtered" id="quick-actions">
                    <div id="changelist-filter" style="width: 100%">
                        {% if is_student %}
                        <h2>Quick Actions</h2>
                        <h3>Things</h3>
                        <ul>
                            <li><a href="{% url 'discussions:discussion_index' %}" title="Thing 1">Discussion Forum</a></li>
                            <li><a href="{% url 'schedules:account' %}" title="Thing 2">Update My Info</a></li>
                        </ul>
                        {% endif %} {% if is_instructor %}
                        <h2>Home</h2>
                        <h3>Quick Actions</h3>
                        <ul>
                            <li><a href="{% url 'discussions:discussion_index' %}" title="Thing 1">Discussion Forum</a></li>
                            <li><a href="{% url 'schedules:account' %}" title="Thing 2">Update My Info</a></li>
                            <li><a href="#" title="My Info">My Students</a></li>
                        </ul>
                        {% endif %}
                        <h2 style="margin:0;">Recent Posts</h2> 
                        <div id="recent-comments">{% if post_list %} {% for post in post_list %}
                        <div id="comment-section">
                            <div id="comment-header" style="padding-left:1em;padding-bottom:.5em;">
                            <table id="comment-table">
                                <tbody>
                            <tr><th><em style="font-size:1.2em;">{{post.author}}</em></th>
                                <th><span style="font-size:.9em;">posted in</span></th>
                                    <th><span><em style="font-size:1.2em;">{{post.subject}}</em></span></th></tr>
                                </tbody>
                        </table>
                    </div>
                            <div class="post-listing" style="padding-right:2em;border-bottom:none;padding-bottom:0px;">
                                {% if post.title|length > 140 %}
                                <span>{{post.title|slice:"0:140"}}...</span> {% else %}
                                <span>{{post.title}}</span> {% endif %}
                        </div>
                        <a style="border-bottom: 1px solid #666;" href="{% url 'discussions:list_comments' post.id %}"><span id="arrow"><i class="fas fa-arrow-circle-right" style="float:right"></i></span><br></a>
                        </div>
                        {% endfor %} {% else %}
                        <Span style="padding-left:1.5em;padding-right:2em;">Looks like nothing is here for you</Span> {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<!--content main-->
</div>
{% endif %}
<br> {% endblock %}
<script>
</script>