{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div><h1>Display Content Here</h1></div>
    {% else %}
        <h1> Create a new account</h1>
        <form action="{% url 'schedules:register' %}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <input type="submit" value="Submit">
        </form>
        <p> Already a user? <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
    <br>
{% endblock %}