{% extends 'base.html' %} 
{% block usertools %}
<div style="float:right;font-family:Roboto Lucida Grande Sans Bitstream Vera Sans Verdana Arial sans-serif;padding:0;text-transform:uppercase;letter-spacing:.5px;font-size:10px">
    {% block welcome-msg %}
    <Span>Welcome</Span>
    <strong style="font-weight:bold">{% firstof user.get_short_name user.get_username %}</strong> / {% endblock %} {% block userlinks %} {% if user.is_staff %}
    <a href="/admin/login?next=/admin/"><span>Admin site link</span></a> / {% endif %}
    <!--{% if user.is_active and user.is_staff %}-->
    <a href="#"><span>Another Link?</span></a> /
    <!--{% endif %}-->
    <a href="{% url 'admin:password_change' %}"><span>Change password</span></a> /
    <a href="{% url 'logout' %}"><span>Log Out</span></a> 
    {% endblock %}
</div>
{% endblock %} 




{%block content%}

<h1> Subjects</h1>
<ul>
    {%for subject in subjects%}
    <li>
        <a href="{% url 'schedules:detail' subject.id %}">{{subject.name}}</a>
    </li>
    {%endfor%}
</ul>
{%endblock%}