{% extends 'base.html' %} {% load i18n static %} {%block content%}
<div class="container">
    <div class="general-topnav">
        <small>
            <a href="{% url 'index' %}">
                < Back to home
            </a>
        </small>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron general-top">
                
                {%if is_mine%}
                <h1>My Courses</h1>
                <p>{% firstof config.my_courses_body default_config.my_courses_body%}</p>
                {%else%}
                <h1>Courses</h1>
                <p>{% firstof config.all_courses_body default_config.all_courses_body%}</p>
                {%endif%}
            </div>
            <div class="row">
                <div class="col-md-12">
                    {%if courses|length%}
                    {%for course in courses%}
                    <div class="card" id="changelist">
                        <div class="card-block module filtered" id="toolbar" style="padding: 20px;">
                            <h2 class="card-title">{{course.name}}</h2>
                            <div style="padding: 10px;">
                                <p class="card-text">
                                   {{course.description}}
                                </p>
                                <br/>
                                <p class="card-text">
                                    {%if is_mine%}
                                    <a class="btn btn-primary button" style="float:none;" href="{%url 'schedules:sessions' course.pk 'mine'%}" role="button">
                                        <span>My Registrations</span>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-primary button" style="float:none;" href="{%url 'schedules:sessions' course.pk 'all'%}" role="button">
                                        <span>Other Available Sessions</span>
                                    </a>
                                    {%else%}
                                    <a class="btn btn-primary button" style="float:none;" href="{%url 'schedules:sessions' course.pk 'all'%}" role="button">
                                        <span>More Info</span>
                                    </a>
                                    {%endif%}
                                    &nbsp;&nbsp;
                                    <a class="btn btn-primary button" style="float:none;" href="{%url 'discussions:list_posts' course.pk%}" role="button">
                                        <span>Discussion forum</Span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br/>
                    {% if not forloop.counter|divisibleby:1%}
                        </div><div class="col-md-12">
                    {% else %}
                        </div></div><div class="row"><div class="col-md-12">
                    {%endif%} 
                {%endfor%}
                {%else%}
                <div class="jumbotron general-top">
                    <h1><i class="fa fa-exclamation-triangle"></i> You are not registered to any courses!</h1>
                        <p>Why not view all available courses to register?</p>
                        <a class="btn btn-primary button" style="float:none;" href="{%url 'schedules:subjects' 'all'%}" role="button"><span>View Courses</Span></a>
                </div>
                {%endif%}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="module filtered">
                <div id="changelist-filter" style="width: 100%;">
                    <h2>Select View</h2>
                    <h3> Courses to view: </h3>
                    <ul>
                        <li class="{{my_courses}}"><a href="{%url 'schedules:subjects' 'mine'%}" title="My Sessions">My Courses</a></li>
                        <li class="{{all_courses}}"><a href="{%url 'schedules:subjects' 'all'%}" title="All Sessions">All Available Courses</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('#subjects').DataTable({
    "deferRender": true,
    "iDisplayLength": 25,
    "lengthMenu": [
        [10, 25, 50, 100, 500, -1],
        [10, 25, 50, 100, 500, "All"]
    ],
    select: true,
    "oLanguage": {
        "sSearch": "Filter Courses:"
    },
    order: [
        [0, "asc"]
    ],
    dom: "lfr<'row'<'col-sm-6'>>Btip",
    buttons: [
        'colvis',
        {
            extend: 'excel',
            text: 'Export to Excel',
            "oSelectorOpts": {
                "filter": "applied"
            }
        }
    ]
});
</script>
{% endblock %}