{% extends 'base.html' %} 
{%block content%}
<h1>
    {{session.subject.name}} - {{session.name}}
</h1>
<div id="info-container">
    <div class="card" id="changelist">
        <div class="card-block module filtered" id="toolbar" style="padding: 20px;">
            <h1 class="card-title">Instructor Info</h1>
            <div style="padding: 10px;">
                <p class="card-text"><strong>Instructor: </strong>{{session.instructor.last_name}}, {{session.instructor.first_name}}</p>
                <a href="mailto:{{session.instructor.email}}" class="card-link" >{{session.instructor.email}}</a>
            </div>
        </div>
    </div>
    <br />
    <div class="card" id="changelist">
        <div class="card-block module filtered" id="toolbar" style="padding: 20px;">
            <h1 class="card-title">Location Info (NJIT)</h1>
            <div style="padding: 10px;">
                <p class="card-text"><strong>Building: </strong>{{session.location.name}}</p>
            </div>
        </div>
    </div>
    {%if not is_instructor%}
    <div>
        <br>
            <div>
                <P>Register for this section</P>
                <form action="{% url 'schedules:registration' session.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
    </div>
    {%endif%}
</div>
{%endblock content%}