{% extends 'base.html' %} {%block content%}
<div class="container">
    <div class="general-topnav">
        <small>
            {%if is_instructor%}
            <a id="post-title" href="{% url 'schedules:assignments' 'mine'%}">< Back to {{session.subject.name}}</a>
            {%elif is_student%}
            <a id="post-title" href="{% url 'schedules:sessions' session.subject.id 'mine' %}">< Back to {{session.subject.name}}</a>
            {%endif%}
        </small>
    </div>
    <div id="info-container">
        <div class="row">
            <div class="col-md-3">
                <div class="jumbotron general-top align-middle" style="vertical-align: middle !important;">
                    <h1 style="margin: 0;">{{session.subject.name}} - {{session.name}} </h1>
                    <p><a href="{%url 'discussions:list_posts' session.subject.pk%}" style="text-decoration: underline;">{{session.subject}} discussion forum</a></p>
                </div>
                {%if is_student%}
                <div class="card" id="changelist">
                    {%if is_registered%}
                    <div class="card-block module filtered" id="toolbar">
                        <h2 class="card-title" style="background: ">Registration Status</h2>
                        <br>
                        <p>
                            <span class="btn-success" style="padding: 10px; margin-left: -10px">
                                You are registered!
                            </span>
                        </p>
                    </div>
                    {%else%}
                    <div class="card-block module filtered" id="toolbar">
                        <h2 class="card-title">Register for this session</h2>
                        <br>
                        <div>
                            <form action="{% url 'schedules:registration' session.id %}" method="post" id="session_registration">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{user.id}}">

                            </form>
                            <a class="btn btn-primary button" style="float:none;" href="javascript:submitForm()" role="button"><span>Register</Span></a>
                        </div>
                    </div>
                    {%endif%}
                </div>
                {%endif%}
            </div>

            <div class="col-md-9">
                <div class="card" id="changelist">
                    <div class="card-block module filtered" id="toolbar" style="padding: 20px;">
                        <h2 class="card-title">Session Details</h2>
                        <div style="padding: 10px;">
                            <p class="card-text">
                                <strong>Subject: </strong> {{session.subject.name}} {%if session.subject.description%} - {{session.subject.description}} {%endif%}
                            </p>
                            <p class="card-text">
                                <strong>Registrations: </strong>{{session.registered_students}}/{{session.max_capacity}}
                            </p>
                            <p class="card-text">
                                <strong>Start Date: </strong>{{session.start_date|date}} {{session.start_date|time}}

                            </p>
                            <p class="card-text">
                                <strong>End Date: </strong>{{session.end_date|date}} {{session.end_date|time}}
                            </p>
                        </div>
                    </div>
                    <div class="card-block module filtered" id="toolbar" style="padding: 20px;">
                        <h2 class="card-title">Location Info</h2>
                        <div style="padding: 10px;">
                            <p class="card-text"><strong>Building Name: </strong>{{session.location.name}}</p>
                            <p class="card-text">
                                <strong>Address: </strong> {{session.location.address_1}} {{session.location.address_2}}, {{session.location.city}}, {{session.location.country}} {{session.location.zip_code}}
                            </p>
                        </div>
                    </div>
                    <div class="card-block module filtered" id="toolbar" style="padding: 20px;">
                        <h2 class="card-title">Instructor Info</h2>
                        <div style="padding: 10px;">
                            <p class="card-text"><strong>Instructor: </strong> {%if session.instructor.first_name%} {{session.instructor.first_name}} {{session.instructor.last_name}} {%else%} {{session.instructor}} {%endif%}
                            </p>
                            <p>
                                <a href="mailto:{{session.instructor.email}}" class="card-link">{{session.instructor.email}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function submitForm(){
        $("#session_registration").submit();
    }
</script>
{%endblock content%}
